/* レシピ選択中モーダル */
.modal_bottom {
    position: fixed;                /*モーダル固定*/
    bottom: -2px;                      /*モーダル固定*/
    width: 100%;                    /*横幅*/
    height: 55px;                   /*高さ*/
    background-color: var(--base-color);    /*背景色*/
    border-radius: 20px 20px 0 0;   /*左上と右上の角丸*/
    box-shadow: 0 -6px 6px rgba(0, 0, 0, 0.25); /*閉状態の影*/
    display: flex;
    align-items: center;            /*垂直中央*/
    justify-content: center;        /*水平中央*/
    z-index: 100;
    
}

.modal_name {
    font-size: 18px;        /*フォントのサイズ*/
    font-weight: 600;       /*フォントの太さ*/
    position: absolute;     /*配置固定(upButton右寄せにするため)*/

}

.upButton {
    margin-left: auto;      /*右寄せ*/
    margin-right: 10px;     /*調整用*/
    margin-top: 5px;        /*調整用*/
}